@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>TigerTax</h1>
    <p class="lead">TigerTax is a free software solution for itemizing and automating your farm tax return.</p>
    <p>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="btn-info btn-primary btn-lg">TigerTax</a>
            <a href="@Url.Action("PayrollWelcome", "Home")" class="btn-info btn-primary btn-lg">TigerTax Payroll</a>
        }
        else
        {
            <a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Register &raquo;</a>
            <a href="@Url.Action("Login", "Account")" class="btn btn-primary btn-lg">Log In <i class="fa fa-user"></i></a>
        }
    </p>
</div>